<navbar class="navbar header">
    <nav class="smScreen" id="smScreen">
                <div class="smMenubar" id="smMenubar">
                    <a class="logo" href="www.schoolinfo.org">SITE LOGO</a>
                    <!-- <form class="search">
                        <input placeholder="search"/>
                    </form> -->
                    <a class="icon" href="#"><img src="/images/btn-search-header.png"></a>
                    <div class="button" id="button">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    
                </div> <!-- End of Logo, search, open and close buttons &#9776&times;&#128269;-->
                
                <ul id="smMenu" class="smMenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/categories/addCategory">Add Category</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/classes/addClass">Register a Class</a></li>
                    <li><a href="/students/addStudent">Register Students</a></li>
                    <li><a href="/students">Manage Students</a></li>
                </ul>
            </nav> <!-- End of small screen menu &#9587;-->
            
            <nav class="bgScreen" id="bgScreen">
                <ul class="banner">
                    <li><a href="#"><span>SITE</span> LOGO</a></li>
                </ul>
                <ul id="menubar" class="menubar">	
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/categories/addCategory">Add Category</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li><a href="/classes">Classes</a></li>
                    <li><a href="/classes/addClass">Register a Class</a></li>
                </ul>
                <ul class="credentials">
                    <li><a href="/students/addStudent">Register Students</a></li>
                    <li><a href="/students">Manage Students</a></li>
                </ul>

            </nav> <!-- End of of large screen menuBar -->
</navbar>