<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Site | Home</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
<div id="overlay" class="overlay"></div>
	{{>nav}}

	<section class="info align">
		<div class="">
			{{{body}}}
		</div>
	</section> <!-- End of info section --> 

	<section class="sidebar">
		<div class="ad">
			<h2>Do you know? Ad</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div> <!-- End of news -->

		<div class="archieve">
			<h2>Do you know? Archieve</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div> <!-- End of map -->

	</section> <!-- End of info section --> 

	<section class="hero">
		<div class="editorials background center">
			<h1>Editorial</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div><!-- End of editorials -->

		<div class="report background center">
			<h1>Report</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div> <!-- End of report -->
	</section> <!-- End of main section --> 

	<section class="blog">
		<h3>Subscribe to our news letter</h3>
		<form class="subscribe">
			<input type="text" name="subscribe" placeholder="Enter your email"/>
			<button  type="submit" name="submit">Subscribe</button>
		</form>
		<div class="socialMedia">
			<a href="#"><span>facebook</span></a>&nbsp&nbsp
			<a href="#"><span>twitter</span></a>&nbsp&nbsp
			<a href="#"><span>instagram</span></a>
		</div>
	</section> <!-- End of subscription section --> 

	<section class="main">
		<div class="notes background center">
			<h1>Notes</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div> <!-- End of map -->

		<div class="organizers background center">
			<h2>Do you know?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div> <!-- End of event --> <!-- End of report -->

		<div class="map background center">
			<h1>Map</h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div> <!-- End of map --> 
	</section> <!-- End of main section --> 

	<footer class="footer">
		<p class="content background">
			All right reserved &copy 2017 || <a href="www.schoolinfo.org">SCHOOLINFO</a>
		</p>
	</footer> <!-- End of footer -->

</div> <!-- End of container --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
</body>
</html>