<h1>Register Here</h1>
<br>

<form action="/students/addStudent" method="post">
    <div>
        <label for="first_name" >First Nane:</label>
        <input type="text" name="first_name" class="form" id="first_name" placeholder="First Name" autofocus>
    </div><br>
    <div>
        <label for="last_name" >Last Name:</label>
        <input type="text" name="last_name" class="form" id="last_name" placeholder="Last Name">
    </div><br>
    <div>
        <label for="gender" >Gender:</label>
        <select name="gender" class="form" id="gender">
            <option>Female</option>
            <option>Male</option>
        </select>
    </div><br>
     <div>
        <label for="address" class="">Address:</label>
        <textarea type="text" name="street_name" class="form"  id="street_name" placeholder="Street name"></textarea><br>
    </div><br>
    <div>
        <label for="address" class="">City:</label>    
        <input type="text" name="city" class="form" id="city" placeholder="City">
    </div><br>
    <div>
        <label for="address" class="">State:</label>
        <input type="text" name="state" class="form" id="state" placeholder="State">
    </div><br>
    <div>
        <label for="category" >Category:</label>
        <select name="category" class="form" id="category">
            <option>Beginner</option>
            <option>Intermeediate</option>
            <option>Advanced</option>
        </select>
    </div><br>
    <div>
        <label for="phone_number" >Phone number:</label>
        <input type="text" name="phone_number" class="form" id="phone_number" placeholder="Phone number">
    </div><br>
    <div>
        <label for="email" >Email:</label>
        <input type="email" name="email" class="form" id="email" placeholder="Email">
    </div><br>
    
    <div>
        <button type="submit" name="submit" class="button1">Submit</button>
    </div>
    
</form>