<h1>Add category</h1>
<br>

<form action="/categories/addCategory" method="post">
    <div>
        <label for="title">Category:</label>
        <input type="text" name="title" class="form" id="title" placeholder="Title">
    </div><br>
    <div>
        <label for="description">Category:</label>
        <input type="text" name="description" class="form" id="description" placeholder="Description">
    </div><br>
    <div>
        <button type="submit" name="submit" class="button1">Add Category</button>
    </div>
</form>