<h1>Add Class</h1>
<br>

<form action="/classes/addClass" method="post">
    <div>
        <label for="title" style="display:inline-block; width:200px;">Title:</label>
        <input type="text" name="title" class="form" id="title" placeholder="Title">
    </div><br>
    <div>
        <label for="description" style="display:inline-block; width:200px;">Description:</label>
        <textarea name="description" class="form" id="description" placeholder="Description"></textarea>
    </div><br>
    <div>
        <label for="instructor" style="display:inline-block; width:200px;">Instructor:</label>
        <input type="text" name="instructor" class="form" id="instructor" placeholder="Instructor">
    </div><br>
    <div>
        <button type="submit" name="submit" class="button1">Add Class</button>
    </div>
    
</form>