<h1>{{className.title}}'s details</h1>

<div style="text-align: center">
    <h3 style="border-bottom:2px solid #ccc;">Class</h3><br>
    <p>{{ className.description }}</p>
    <h3><strong>Instructor: </strong>{{className.instructor}}</h3>
</div>